six==1.16.0
Django==4.1.13
Pillow==9.3.0
urllib3==1.26.12
uritemplate==4.1.1
django-environ==0.9.0
django-storages==1.13
django-oauth-toolkit==2.2.0
django-cors-headers==3.13.0
django-summernote==0.8.20.0
djangorestframework==3.13.1