{% extends 'base.html' %}
{% load static %}
{% block title %}Lucky Tree Raffle{% endblock %}
{% block description %}{{description}}{% endblock %}
{% block descriptions %}{{description}}{% endblock %}

{% block content %}
         <!-- Section Testimonial Start -->
         <section class="section textimonial position-relative bg-3 wallpaper" style="height: 100vh">
            <div class="container">
               <div class="row align-items-center mt-5 px-3 mx-1">
                  <div class="col-lg-8">
                     <h1 class="mt-1 mb-3 text-white">Elevate your life with <br>our  <span class="text-color">sensational prizes. Enter our raffle </span>and elevate your chances. <br/><img src="{% static 'images/android.jpg' %}" alt="available on Android " width="40%" style='border-radius:10px'> <img src="{% static 'images/ios.png' %}" alt="available on iOS " width="40%"></h1>  
                  </div>
               </div>
            </div>
         </section>
         <!-- Section Testimonial END -->
         <!-- Section About start -->
         <section class="section about">
            <div class="container">
               <div class="row align-items-center">
                  <div class="col-lg-6">
                     <img src="{% static 'images/bg-5.jpg' %}" alt="" class="img-fluid rounded shadow w-100">
                  </div>
                  <div class="col-lg-6">
                     <div class="pl-3 mt-5 mt-lg-0">
                        <h2 class="mt-1 mb-3">Close your eyes <br>and <span class="text-color">envision a future</span> where the ordinary becomes extraordinary. </h2>
                        <p class="mb-4">Where a single ticket holds the key to unlocking the doors of infinite potential. Picture the joy that dances in your eyes as you embrace the serendipity of chance, knowing that within the realm of this raffle, miracles are born and dreams take flight.</p>
                        <a href="raffle" class="btn btn-main">Try Now<i class="fa fa-angle-right ml-2"></i></a>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- Section About End -->
         <!-- section Call To action start -->
         <section class="section cta">
            <div class="container">
               <div class="row justify-content-center">
                  <div class="col-lg-8 col-md-12 col-sm-12">
                     <div class="text-center">
                        <span class="h6 letter-spacing text-white">Isn't it your time to test your luck?</span>
                        <h2 class="text-lg mt-4 mb-5 text-white">
                           Enter. Win. Experience the thrill. <span class="text-color">Our raffle </span>awaits your luck.
                        </h2>
                        <a href="raffle" class="btn btn-main text-white">Join Today</a>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- section Call To action start -->
         <!-- Section Services Start -->
         <section class="section services " id="howto">
            <div class="container">
               <div class="row justify-content-center">
                  <div class="col-lg-8 text-center">
                     <div class="section-title">
                        <div class="divider mb-3"></div>
                        <h2>How It Work</h2>
                        <p>Take a leap of faith and enter our raffle for a chance to win big.</p>
                     </div>
                  </div>
               </div>
               <div class="row no-gutters">
                  <div class="col-lg-4 col-md-6 col-sm-6">
                     <div class="text-center  px-4 py-5">
                        <i class="icofont-tracking text-lg text-color"></i>
                        <h4 class="mt-3 mb-4 text-uppercase">Browse Raffles</h4>
                        <p>Browse through various raffles using our Android app, or Web app, each with their own unique prize, entry requirements, description, and end date.</p>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                     <div class="text-center  px-4 py-5">
                        <i class="icofont-runner-alt-1 text-lg text-color"></i>
                        <h4 class="mt-3 mb-4 text-uppercase">Enter Raffle</h4>
                        <p> Once you finds a raffle you're interested in, you can enter the raffle by purchasing one or more tickets. The more tickets you purchases, the higher their chances of winning.</p>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                     <div class="text-center  px-4 py-5">
                        <i class="icofont-runner-alt-2 text-lg text-color"></i>
                        <h4 class="mt-3 mb-4 text-uppercase">Wait for Results</h4>
                        <p> After the raffle has closed, Lucky Tree Raffle AI will randomly select a winner from the pool of participants who bought tickets. Winner will be annouce on winners platforms.</p>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- Section Services End -->

{% endblock %}
