{% extends 'base.html' %}
{% load static %}
{% block title %}Lucky Tree Raffle | Policy{% endblock %}
{% block description %}{{description}}{% endblock %}
{% block descriptions %}{{description}}{% endblock %}

{% block content %}
         <!-- Section Services Start -->
         <section class="section services">
            <div class="container">
               <div class="row justify-content-center">
                  <div class="col-lg-8 text-center">
                     <div class="section-title">
                        <div class="divider mb-3"></div>
                        <h2>Policy</h2>
                        <p>This Privacy Policy ("Policy") describes how Lucky Tree Raffle ("we," "us," or "our") collects, uses, discloses, and protects the personal information you provide to us when you access our website and participate in our raffles. By using our website and participating in our raffles, you consent to the collection, use, and disclosure of your personal information as described in this Policy. If you do not agree with this Policy, please refrain from using our website and participating in our raffles.</p>
                     </div>
                  </div>
               </div>
               <div class="row no-gutters">
                  <div class="col-lg-4 col-md-6 col-sm-6">
                     <div class="text-center  px-4 py-5">
                        <i class="icofont-signal text-lg text-color"></i>
                        <h4 class="mt-3 mb-4 text-uppercase">Information Collection</h4>
                        <p>We may collect personal information, including but not limited to your name, email address, postal address, phone number, and payment details when you register on our website, purchase raffle tickets, or communicate with us. We may also collect non-personal information such as your IP address, browser type, and operating system.</p>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                     <div class="text-center  px-4 py-5">
                        <i class="icofont-server text-lg text-color"></i>
                        <h4 class="mt-3 mb-4 text-uppercase">Use of Information</h4>
                        <p>We may use the information we collect to:

                           Facilitate your participation in our raffles and provide you with the requested services.
                           Communicate with you regarding our raffles, including prize notifications, updates, and customer support.
                           Improve our website, services, and customer experience.
                           Conduct data analysis, research, and market trends analysis.
                           Comply with legal obligations and enforce our Terms and Conditions.</p>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                     <div class="text-center  px-4 py-5">
                        <i class="icofont-share text-lg text-color"></i>
                        <h4 class="mt-3 mb-4 text-uppercase">Information Sharing</h4>
                        <p>We may share your personal information with trusted third parties who assist us in operating our website and conducting our raffles, such as payment processors and email service providers. We may also disclose your information in response to a legal obligation, to protect our rights, property, or safety, or with your consent.</p>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                     <div class="text-center  px-4 py-5">
                        <i class="icofont-shield text-lg text-color"></i>
                        <h4 class="mt-3 mb-4 text-uppercase">Data Security</h4>
                        <p>We implement appropriate security measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction. However, please note that no method of transmission over the internet or electronic storage is completely secure, and we cannot guarantee absolute security.</p>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                     <div class="text-center  px-4 py-5">
                        <i class="icofont-chart-radar-graph text-lg text-color"></i>
                        <h4 class="mt-3 mb-4 text-uppercase">Cookies and Tracking Technologies</h4>
                        <!--
                        <p>We may use cookies, web beacons, and similar tracking technologies to collect information about your usage of our website and improve your experience. You have the option to accept or reject cookies through your browser settings.</p>
                        -->
                        <p>We don't use Cookies or any Tracking Technology, nothing concern us.</p>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                     <div class="text-center  px-4 py-5">
                        <i class="icofont-external-link text-lg text-color"></i>
                        <h4 class="mt-3 mb-4 text-uppercase">Third-Party Links</h4>
                        <p>Our website may contain links to third-party websites or services. We are not responsible for the privacy practices or content of those websites. We encourage you to review the privacy policies of any third-party websites you visit.</p>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                     <div class="text-center  px-4 py-5">
                        <span class="text-lg text-color">🔞</span>
                        <h4 class="mt-3 mb-4 text-uppercase">Children's Privacy</h4>
                        <p>Our website and services are not intended for individuals under the age of 18. We do not knowingly collect personal information from individuals under 18 years old. If you are a parent or guardian and believe we may have inadvertently collected personal information from your child, please contact us to request deletion of that information.</p>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                     <div class="text-center  px-4 py-5">
                        <i class="icofont-exchange text-lg text-color"></i>
                        <h4 class="mt-3 mb-4 text-uppercase">Changes to the Policy</h4>
                        <p>We reserve the right to update or modify this Policy at any time. Any changes will be effective immediately upon posting the revised Policy on our website. We encourage you to review this Policy periodically for any updates.</p>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                     <div class="text-center  px-4 py-5">
                        <i class="icofont-contacts text-lg text-color"></i>
                        <h4 class="mt-3 mb-4 text-uppercase">Contact Us</h4>
                        <p>If you have any questions, concerns, or requests regarding this Policy or the handling of your personal information, please contact us using the contact information provided on our website.</p>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- Section Services End -->

{% endblock %}
